.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:50rem;
}
.row1,.row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.angle,.area,.hypotenuse,.quiz{
    padding:2rem;
    margin:10px;
    text-align: center;
    justify-content: center;
    border:1px solid black;
    cursor: pointer;
}
a{
    font-size: 3rem;
    text-decoration: none;
    color: black;
}